## Q1

# FOR LOOP
A For Loop is used to execute a specific block of code when we know that how many times it should be executed.
For example if we want to print all the eliment from a list that time we know that the loop should be executed how much eliment in the list that number of time.Here we can use for loop.

In [5]:
#Example "for loop"
l =[1,2,3,4,"jehad","pwskills","datascience"]
for i in l:
    print(i)

1
2
3
4
jehad
pwskills
datascience

# while loop
A while Loop is used to execute a specific block of code an unknown number of times. Until a condition is met. For example, if we want to ask a user for a number between 1 and 10, we don't know how many times the user may enter a larger number, so we keep asking while the number is not between 1 and 10.

In [6]:
#EXAMPLE "while loop"
while True:
    number = int(input("Enter number between 1 to 10:"))
    if number<=10 and number>=1:
        print("You have entered correct number")
        break
    else:
        continue

Enter number between 1 to 10:11
Enter number between 1 to 10:0
Enter number between 1 to 10:11
Enter number between 1 to 10:12
Enter number between 1 to 10:15
Enter number between 1 to 10:10
You have entered correct number

# Q2

In [9]:
#Example for print the sum using "for loop"
result = 0
for i in range(1,11):
    result+=i
print(result)

55

In [13]:
#Example for print the sum using "while loop"
i=1
result = 0
while i<=10:
    result+=i
    i+=1
print(result)

55

In [14]:
#Example for print the product using "for loop"
result = 1
for i in range(1,11):
    result*=i
print(result)

3628800

In [11]:
#Example for print the product using "while loop"
i = 1
result =1
while i<=10:
    result*=i
    i+=1
print(result)

3628800

# Q3

In [66]:
unit = float(input("Enter the unit number:"))
if unit>0:
    if unit>300:
        Extra=unit-300
        bill=Extra*20
        unit=unit-Extra
        bill+=(100*10)
        unit=200
        bill+=(100*6)
        unit=100
        bill+=(100*4.5)
    elif unit>200 and unit<=300:
        Extra=unit-200
        bill=Extra*10
        unit=200
        bill+=(100*6)
        unit=100
        bill+=(100*4.5)
    elif unit>100 and unit<=200:
        Extra=unit-100
        bill=Extra*6
        unit=100
        bill+=(unit*4.5)
    else:
        bill=unit*4.5
    print(f"Total electricity bill: {bill} RS")
else:
    print("unit can't be negative or zero")

Enter the unit number:310
Total electricity bill: 2250.0 RS

# Q4

In [63]:
l =[]
i=1
while i<=100:
    l.append(i)
    i+=1
L=[]
for j in l:
    if (j**3)%4==0 or (i**3)%5==0:
        L.append(j**3)
print(L)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

# Q5

In [65]:
string = "I want to become a data scientist"
count = 0
for i in string.lower():
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        count+=1
print(count)

12