# Q1

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
# SQL
SQL is structured query language where we can store only structured format data like tabler format.
# NoSQL
NoSQL is Not only structured query language where we can store any format data.

# Q2

# DDL
DDL is data definition language that used to create and modify the structure of database objects in a database.

# CREATE 
CREATE is used for creating a new database or table under database

In [1]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost", user = "root",passwd = "912865")
cursor = mydb.cursor()
cursor.execute("CREATE database if not exists DATABASE1")
cursor.execute("CREATE table if not exists DATABASE1.table1(NAME VARCHAR(30),AGE INT(10),CLASS INT(10))")
cursor.execute("show databases")
cursor.fetchall()

[('database1',),
 ('information_schema',),
 ('jehad',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

# DROP
DROP is used for delete database or table under database.

In [25]:
cursor.execute("DROP database DATABASE1")
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('jehad',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

# ALTER
The ALTER TABLE statement is used to add, delete, or modify columns in an existing table

# TRUNCATE
TRUNCATE TABLE removes the data by deallocating the data pages used to store the table data and records only the page deallocations in the transaction log

# Q3

# DML
DML is data manipulation language.It is a family of computer languages including commands permitting users to manipulate data in a database.

# INSERT
INSERT is used for insert data in database table.

In [2]:
cursor.execute("INSERT into DATABASE1.table1 values('jehad',22,15)")
cursor.execute("INSERT into DATABASE1.table1 values('Python',22,15)")
cursor.execute("select * from DATABASE1.table1")
cursor.fetchall()

[('jehad', 22, 15), ('Python', 22, 15)]

# UPDATE
UPDATE is used for updating the data from table.

In [3]:
cursor.execute("UPDATE DATABASE1.table1 set NAME = 'RJ' where NAME = 'jehad'")
cursor.execute("select * from DATABASE1.table1")
cursor.fetchall()

[('RJ', 22, 15), ('Python', 22, 15)]

# DELETE
DELETE is used to delete existing records from a table.

In [29]:
cursor.execute("DELETE from DATABASE1.table1 where NAME = 'RJ'")
cursor.execute("select * from DATABASE1.table1")
cursor.fetchall()

[('Python', 22, 15)]

# Q4

# DQL
DQL is Data query language.It is part of the base grouping of SQL sub-languages.

In [4]:
# SELECT
cursor.execute("select * from DATABASE1.table1 where NAME = 'Python'")
cursor.fetchall()

[('Python', 22, 15)]

# Q5

# primary key
primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.
# foreign key
foreign key is generally used to build a relationship between the two tables.

# Q6

In [ ]:
# python code to connect MySQL to python.
import mysql.connector as conn
mydb = conn.connect(host = "hostname",user = "username",passwd = "password")
cursor = mydb.cursor()

# cursor()
cursor make it possible to define a result set (a set of data rows) and perform complex logic on a row by row basis.

# execute()
The execute() command is used to execute a stored procedure.

# Q7

In [17]:
# where
cursor.execute("select * from DATABASE1.table1 where NAME = 'RJ'")
cursor.fetchall()

[('RJ', 22, 15)]

In [18]:
# group by
cursor.execute("select count(*) from DATABASE1.table1 group by AGE")
cursor.fetchall()

[(2,)]

In [19]:
# order by
cursor.execute("select count(*) from DATABASE1.table1 order by AGE")
cursor.fetchall()

[(2,)]