# Q1

# mongodb
MongoDB is a non-relational document database that provides support for JSON-like storage.
# non-relational database
non-relational database is a database that does not use the tabular schema of rows and columns.
# Mongodb is preferred to used for
Mongodb uses JavaScript as query language while MySQL uses the Structured Query Language. Mongodb is an ideal choice if you have unstructured or structured data with the potential for rapid growth while MYSQL is a great choice if you have structured data and need a traditional relational database.

# Q2

Mongodb provides us the features that where we can store our structured or unstructured both type of data.

# Q3

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://JEHAD:rj912865@rj.qerdyzm.mongodb.net/?retryWrites=true&w=majority")
db = client["database1"]
c= db["collection1"]

# Q4

In [2]:
# inseart one
c.insert_one({"name":"MD JEHAD HOSSAIN"})

In [3]:
# insert many
d = [{"name":"JEHAD","age":22,"studying":"Data science"},
     {"name":"JEHAD","age":26,"studying":"Data science"},
    {"name":"Riad","age":16,"studing":"SSC"}]
c.insert_many(d)

In [4]:
# find()
for i in c.find():
    print(i)

{'_id': ObjectId('6400f8831397ecf0f5b3617f'), 'name': 'MD JEHAD HOSSAIN'}
{'_id': ObjectId('6400f88e1397ecf0f5b36181'), 'name': 'MD JEHAD HOSSAIN'}
{'_id': ObjectId('6400f95e1397ecf0f5b36182'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f95e1397ecf0f5b36183'), 'name': 'Riad', 'age': 16, 'studing': 'SSC'}
{'_id': ObjectId('6400f9f11397ecf0f5b36184'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f9f11397ecf0f5b36185'), 'name': 'JEHAD', 'age': 26, 'studying': 'Data science'}
{'_id': ObjectId('6400f9f11397ecf0f5b36186'), 'name': 'Riad', 'age': 16, 'studing': 'SSC'}
{'_id': ObjectId('64020d59359e1836f9ac7388'), 'name': 'MD JEHAD HOSSAIN'}
{'_id': ObjectId('64020d5c359e1836f9ac7389'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('64020d5c359e1836f9ac738a'), 'name': 'JEHAD', 'age': 26, 'studying': 'Data science'}
{'_id': ObjectId('64020d5c359e1836f9ac738b'), 'name': 'Riad', 'age': 16, 'studing': 'SSC'}

In [5]:
# find_one()
for i in c.find_one():
    print(i)

_id
name

# Q5

To find documents that match a set of selection criteria, call find() with the criteria parameter.

In [7]:
# EXAMPLE
for i in c.find({"name":"JEHAD"}):
    print(i)

{'_id': ObjectId('6400f95e1397ecf0f5b36182'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f9f11397ecf0f5b36184'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f9f11397ecf0f5b36185'), 'name': 'JEHAD', 'age': 26, 'studying': 'Data science'}
{'_id': ObjectId('64020d5c359e1836f9ac7389'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('64020d5c359e1836f9ac738a'), 'name': 'JEHAD', 'age': 26, 'studying': 'Data science'}

# Q6

The sort() method specifies the order in which the query returns the matching documents from the given collection.

In [14]:
#EXAMPLE
for i in c.find().sort("name"):
    print(i)

{'_id': ObjectId('6400f95e1397ecf0f5b36182'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f9f11397ecf0f5b36184'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f9f11397ecf0f5b36185'), 'name': 'JEHAD', 'age': 26, 'studying': 'Data science'}
{'_id': ObjectId('64020d5c359e1836f9ac738a'), 'name': 'JEHAD', 'age': 26, 'studying': 'Data science'}
{'_id': ObjectId('64020d5c359e1836f9ac7389'), 'name': 'JEHAD', 'age': 22, 'studying': 'Data science'}
{'_id': ObjectId('6400f8831397ecf0f5b3617f'), 'name': 'MD JEHAD HOSSAIN'}
{'_id': ObjectId('6400f88e1397ecf0f5b36181'), 'name': 'MD JEHAD HOSSAIN'}
{'_id': ObjectId('64020d59359e1836f9ac7388'), 'name': 'MD JEHAD HOSSAIN'}
{'_id': ObjectId('6400f95e1397ecf0f5b36183'), 'name': 'Riad', 'age': 16, 'studing': 'SSC'}
{'_id': ObjectId('6400f9f11397ecf0f5b36186'), 'name': 'Riad', 'age': 16, 'studing': 'SSC'}
{'_id': ObjectId('64020d5c359e1836f9ac738b'), 'name': 'Riad', 'age': 16, 'studing': 'SSC'}

# Q7

# delete_one()
To delete a record, or document as it is called in MongoDB, we use the deleteOne() method.
# delete_many()
The deleteMany() method allows you to remove multiple documents from a specific collection of MongoDB databases.
# drop()
drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.