# Q1

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"Values":[10, 20, 30, 40, 50]})

In [3]:
pd.Categorical(df)

['Values']
Categories (1, object): ['Values']

In [4]:
df.describe

<bound method NDFrame.describe of    Values
0      10
1      20
2      30
3      40
4      50>

In [5]:
pd.Series([10, 20, 30, 40, 50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
df.columns

Index(['Values'], dtype='object')

# Q2

In [7]:
df = pd.DataFrame({'A':[1,2,3,4,5,6,7],'B':[11,12,13,14,15,16,17],'C':[21,22,23,24,25,26,27]})

In [8]:
def re_indexing(df):
    l=len(df)
    a = (l*2)-1
    for i in range(l-1,-1,-1):
        df=df.rename(index={i:a})
        a-=2
    return df
re_indexing(df)

    A   B   C
1   1  11  21
3   2  12  22
5   3  13  23
7   4  14  24
9   5  15  25
11  6  16  26
13  7  17  27

# Q3

In [9]:
df=pd.DataFrame({'values':[10, 20, 30, 40, 50]})

In [10]:
def sum_of_values(df):
    result=0
    v = 1
    for i in df['values']:
        result=result+i
        if v ==3:
            break
        v+=1
    return result
sum_of_values(df)

60

# Q4

In [11]:
df =pd.DataFrame({"Text":["My name is md jehad hossain.","ineuron","i am a datascientist"]})

In [12]:
def columns_creator(df):
    df['Word_Count']=0
    l = len(df)
    for i in range(l):
        a =df["Text"][i]
        a=a.split()
        wc = 0
        for j in a:
            wc += 1
        df.at[i,"Word_Count"]=wc
    return df
columns_creator(df)

                           Text  Word_Count
0  My name is md jehad hossain.           6
1                       ineuron           1
2          i am a datascientist           4

# Q5

# DataFrame.size()
Size of a dataframe is the number of fields in the dataframe which is nothing but number of rows * number of columns.
# DataFrame.shape()
The shape of a DataFrame is a tuple of array dimensions that tells the number of rows and columns of a given DataFrame.

# Q6

read_excel() function of pandas we use to read an excel file.

# Q7

In [17]:
df = pd.DataFrame({"Email":["john.doe@example.com"]})

In [20]:
def username_creator(df):
    df['Username']="j"
    l = len(df)
    for i in range(l):
        email = df["Email"][i]
        username = ""
        for j in email:
            if j=="@":
                break
            else:
                username+=j
            df.at[i,"Username"]=username
    return df
username_creator(df)

                  Email  Username
0  john.doe@example.com  john.doe

# Q8

In [34]:
df = pd.DataFrame({'A':[11,82,25,18,31,67,3,4,5,6,7,11,12,13],'B':[8,1,2,3,4,5,6,9,11,12,13,14,15,16],'C':[21,22,23,24,25,26,27,25,21,12,2,14,12,14]})

In [35]:
def df_filter(df):
    df2=df[(df['A']>5) & (df['B']<10)]
    return df2
df_filter(df)

    A  B   C
0  11  8  21
1  82  1  22
2  25  2  23
3  18  3  24
4  31  4  25
5  67  5  26