In [14]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Q1

In [15]:
for i in df.columns:
    print(df[i][1])

Machine Learning
3

In [16]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2

# loc
loc is label-based, which means that you have to specify rows and columns based on their row and column labels.
# iloc
iloc is integer position-based, so you have to specify rows and columns by their integer position values.

# Q3

In [17]:
reindex = [3,0,1,2]
new_df=df.reindex(index=reindex)

In [18]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [19]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# loc
Here loc is returning the row where row index name is 2.
# iloc
and iloc is returning the row where imaginary index is 2.

In [20]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Q4

In [21]:
# i
df1.mean()

column_1    0.604632
column_2    0.394672
column_3    0.450522
column_4    0.699889
column_5    0.451412
column_6    0.658933
dtype: float64

In [22]:
# ii
df1['column_2'].std()

0.2382898943757429

# Q5

In [23]:
try:
    df1.loc[2,'column_2'] = 'Jehad'
    df1['column_2'].mean()
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'float' and 'str'

we can't get the mean of column_2 because there's a string value  in column_2's second row.and we can't add or divide string value with float value.that's why it throwing error.

# Q6

# window
Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them.
# types of window function
1, Rolling window.

2, Weighted window.

3, Expanding window.

4, Exponentially weighted window.

# Q7

In [24]:
print(pd.to_datetime("today").strftime("%Y/%M"))

2023/59

# Q8

In [13]:
first_date =pd.to_datetime(input("Enter the first date: "))
second_date =pd.to_datetime(input("Enter the second date: "))
result = second_date-first_date
print(result)

Enter the first date:  2023/02/23
Enter the second date:  2023/03/24

29 days 00:00:00