# Q1

def keyword is used to create a function.

In [23]:
def returns_odd(n):
    """This function is used to return a list of odd number"""
    l=[]
    for i in range(1,n):
        if i%2==1:
            l.append(i)
    return l
returns_odd(25)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

# Q2

*args is used to pass any number of non_keyword argument in function

**kwargs is used to pass any number of keyword argument with key=value pair.

In [21]:
#Example of *args
def argument(*args):
    """This function is used to return two siparate list.first one as a integer list and 2nd one as a string list"""
    l=[]
    for i in args:
        l.append(i)
    int_list=[]
    str_list=[]
    for j in l:
        if type(j)==int:
            int_list.append(j)
        elif type(j)==str:
            str_list.append(j)
    return int_list , str_list
argument(1,2,3,45,9,"jehad","rj","ineuron")

([1, 2, 3, 45, 9], ['jehad', 'rj', 'ineuron'])

In [89]:
#Example of **kwargs
def kwargument(**kwargs):
    """This function is used to return total price of your shopping list"""
    price = 0
    for i in kwargs.values():
        price+=i
    return price
kwargument(watch = 1000,mobile=12000,fruits=200)

13200

# Q3

iterator is an object that contains a countable number of values. the iter() method used to initialise the iterator object and the next() method used for iteration.

In [10]:
l = [2, 4, 6, 8, 10, 12, 14,
16, 18, 20]
l1=iter(l)
for i in range(5):
    print(next(l1))

2
4
6
8
10

# Q4

Generator is a function that produces a sequence of values.yield keyword is used to create a generator function that produces value but don't store all of them in memory at once.

In [114]:
#Example 
def fibonacci_series(n):
    "This function genarate fibonacci series"
    a,b = 0,1
    for i in range(n):
        yield a
        a,b =b,a+b
for i in fibonacci_series(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

# Q5

In [129]:
def prime_numbers():
    """This function returns all the prime numbers less then 1000"""
    for i in range(1,1000):
        if i>1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                yield i

In [130]:
prime = prime_numbers()
for i in range(10):
    print(next(prime))

2
3
5
7
11
13
17
19
23
29

# Q6

In [119]:
i = 1
a,b = 0,1
while i<=10:
    print(a)
    a,b = b,a+b
    i+=1

0
1
1
2
3
5
8
13
21
34

# Q7

In [121]:
[i for i in "pwskills"]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

# Q8

In [170]:
n =int(input("Enter the number:"))
t = n
r = 0
while n>0:
    d = n%10
    r = r*10+d
    n = n//10
if t==r:
    print("yes palindrom")
else:
    print("not palindrom")

Enter the number:99
yes palindrom

# Q9

In [1]:
[j for j in [i for i in range(100)] if j%2==1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]